# Supabase / PostgreSQL
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.XXXX.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.XXXX.supabase.co:5432/postgres"

# JWT
JWT_SECRET="cambia_este_secreto_en_produccion"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000
NODE_ENV=production
