PORT=3000
MONGODB_URI=mongodb+srv://[user]:pass@cluster/podcasthub?retryWrites=true&w=majority&appName=[ClusterName]
MONGODB_TEST_URI=mongodb+srv://[user]:pass@cluster/podcasthub_test?retryWrites=true&w=majority&appName=[ClusterName]
JWT_SECRET=cadena_aleatoria_larga_minimo_32_caracteres
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/TXXXXXXXX/BXXXXXXXX/xxxxxxxxxxxxxxxxxxxxxxxx

