PORT=3000
MONGODB_URI=URL de conexión a MongoDB
MONGODB_TEST_URI=URL de conexión a MongoDB para pruebas
JWT_SECRET=cadena_aleatoria_larga_minimo_32_caracteres
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK_URL= URL De Webhook de Slack

