# Puerto del servidor
PORT=3000

# URL pública (para generar enlaces de carátulas)
PUBLIC_URL=http://localhost:3000

# URI de conexión a MongoDB
# Formato local:  mongodb://localhost:27017/blockbuster
# Formato Atlas:  mongodb+srv://<user>:<password>@cluster.mongodb.net/blockbuster?retryWrites=true&w=majority
DB_URI=mongodb://localhost:27017/blockbuster

